<div class="w-1/2 mx-auto border p-10">
  <div class="text-lg font-bold mb-10">Upload file to related deal</div>
  <%= form_with scope: :project, url: dashboard_project_path(deal_id), method: :put do |f| %>
    <div class="mb-6">
      <%= f.label :impot_file %>
      <%= f.file_field :impot_file %>
    </div>
    <div class="mb-6">
      <%= f.label :mairie_file %>
      <%= f.file_field :mairie_file %>
    </div>
    <div class="mb-6">
      <%= f.label :contract_file %>
      <%= f.file_field :contract_file %>
    </div>

    <%= f.submit class: "btn btn-blue" %>
  <% end %>
</div>
