<div class=wrapper>
  <div class="head">
    Env: <%= ENV["RAILS_ENV"] %>
  </div>
  <div class="content">
    <h2>Logged as: <%= current_user[:username] %></h2>
    <ul>
      <li>Email: <%= current_user[:email] %></li>
      <li>User ID: <%= current_user[:sub] %></li>
      <li>Hubspot contact ID: <%= current_user[:"custom:hubspot_contact_id"] %></li>
      <li>Related quotes:
        <% quotes.each do |quote| %>
          <%= link_to quote.reference, quote.download_url, target: :_blank, class: "underline" %>
        <% end %>
      </li>
      <li>Related invoices:
        <% invoices.each do |invoice| %>
          <%= link_to invoice[:invoice_number], invoice[:file_url], target: :_blank, class: "underline" %>
        <% end %>
      </li>
      <% [:file1, :file2].each do |attr| %>
        <li>
          <%= attr %>:
          <% contact.send(attr).each do |file| %>
            <%= link_to file.name, file.url, target: :_blank, class: "underline" %>,
          <% end %>
        </li>
      <% end %>

      <% [:impot_file, :mairie_file, :contract_file].each do |attr| %>
        <li>
          <%= attr %>:
            <% deal.send(attr).each do |file| %>
              <%= link_to file.name, file.url, target: :_blank, class: "underline" %>,
                <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div>
    <a class="button" href="/logout">Logout</a>
  </div>
</div>
<style>
  .wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
  }

  body {
    background-color: #f0f0f0;
    font-family: sans-serif;
  }

  .head {
    background-color: #ffbc00;
    color: #482882;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  .content {
    background-color: #fff;
    border: 2px solid #ffbc00;
    color: #482882;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  li {
    list-style-type: none;
    margin: 5px 0;
  }

  .button {
    background-color: #482882;
    border: 2px solid #ffbc00;
    border-radius: 8px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    margin-top: 10px;
    justify-content: center;
  }
</style>
