<div class=wrapper>
  <div class="head">
    Env: <%= ENV["RAILS_ENV"] %>
  </div>
  <div class="content">
    <h2>Logged as: <%= "#{current_user.first_name} #{current_user.last_name}" %></h2>
    <ul>
      <li>Email: <%= current_user.email %></li>
      <li>User ID: <%= current_user.uuid %></li>
      <li>Hubspot contact ID: <%= current_user.hs_contact_id %></li>
      <li>Pennylane client_id ID: <%= current_user.pl_client_id %></li>
    </ul>
  </div>
  <div>
    <a class="button" href="/logout">Logout</a>
  </div>
</div>
<style>
  .wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
  }

  body {
    background-color: #f0f0f0;
    font-family: sans-serif;
  }

  .head {
    background-color: #ffbc00;
    color: #482882;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  .content {
    background-color: #fff;
    border: 2px solid #ffbc00;
    color: #482882;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  li {
    list-style-type: none;
    margin: 5px 0;
  }

  .button {
    background-color: #482882;
    border: 2px solid #ffbc00;
    border-radius: 8px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    margin-top: 10px;
    justify-content: center;
  }
</style>
